/* ::::CSS Sequence (6 Steps):::: */
/* Step1: parentContainer */
/* Step2: componentContainer */
/* Step3: component */
/* Step4: row */
/* Step5: column */
/* Step6: contentContainer */

/* Step1: parentContainer */
/* <header>,<main> & <footer> */
/* code written in Default CSS */

/* Step2: componentContainer */
.navContainer {
  /* background-color: #9b065a; */
}

/* Step3: component */
.navBar {
  /* background-color: #440cdf; */
}

/* Step4: row */
.navBody {
  background-color: #ffffff;
  grid-template-columns: 1fr 3fr;
  padding: 0rem;
}
/* Step5: column-1 */
.logo {
  /* background-color: #fff; */
  padding: 1.3rem 0rem;
  margin-left: 6rem;
}
/* Step6: contentContainer */
.logo img {
  /* background-color: #ae9dfd; */
  height: 6.2rem;
  width: auto;
}
/* Step5: column-2 */
.navLinks {
  background-color: #d2151e;
  gap: 4rem;
}
/* Step6: contentContainer */
.navLinks li {
  /* background-color: #097953; */
  list-style-type: none;
}
.navLinks li a {
  /* background-color: #06c9af; */
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 500;
  /* font-family: 'FuturaPT-Book',sans-serif; */
  letter-spacing: 0.1rem;
}
